.home-section {
  padding: 0px 20px;
  text-align: center;
  background-color: #0f0f0f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.home-content {
  max-width: 800px;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #00bfff;
}

p {
  font-size: 1.5em;
  margin: 10px 0;
}

.dynamic-text {
  font-size: 1.8em;
  font-weight: bold;
  color: #ff6347;
  min-height: 2em; /* Adjust based on the text size */
}

.btn {
  background-color: #00bfff;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 20px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: #007acc;
  transform: translateY(-2px);
}

.resume-btn {
  margin-top: 30px;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-links a {
  color: #fff;
  font-size: 2em;
  margin: 0 15px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #00bfff;
}
