.projects-section {
  background-color: #1f1f1f;
}

.projects-content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.project-item {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #2f2f2f;
  border-radius: 10px;
}

.project-item h3 {
  color: #00bfff;
}

.project-item p {
  font-size: 1.1em;
}
